
<div id = "dashboard_root" style="text-align: center;">

<h1> Welcome to CWDS Sandbox</h1>
  <div id="links">

    <h2><%= link_to "Intake" , @intake_url %></h2>

    <h2><%= link_to "CALS" , @cals_url %></h2>
    <h2><%= link_to "Release Notes" , @release_notes_url %></h2>
    <h2><%= link_to "Job Aids" , @job_aids_url %></h2>
  </div >
</div>
