#main-menu {
    z-index: 100;
    width: 100%;
}


#global-header {
    background-color: #114161; 
    color: white;
}

#page-header { 
    padding: 7.5px;
    background-image:linear-gradient(90deg, #0C4E78, #087B8E);
    color: white;
}

.pull-left { 
    float: left;
    padding-right: 10px;
}

.badge-environment {
    padding: 1px 9px 2px;
    font-size: 1.4rem;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #e7740b;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.header-text {
    line-height: 60px;
    padding-left: 6%;
    margin-right: 15px;
    float: left;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("http://netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?v=4.6.3");
    src: url("http://netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("http://netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("http://netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("http://netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("http://netdna.bootstrapcdn.com/font-awesome/4.6.3/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto; 
    text-decoration-color: 
  }
