#main-menu {
    z-index: 100;
    width: 100%;
}


#global-header {
    background-color: #114161; 
    color: white;
}

#page-header { 
    padding: 7.5px;
    background-image:linear-gradient(90deg, #0C4E78, #087B8E);
    color: white;
}

.pull-left { 
    float: left;
    padding-right: 10px;
}

.badge-environment {
    padding: 1px 9px 2px;
    font-size: 1.4rem;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #e7740b;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.header-text {
    line-height: 60px;
    padding-left: 6%;
    margin-right: 15px;
    float: left;
}